@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

.MenuItem{  
    height : 3.5rem;
    width : 10vw;
    border : none;
    cursor: pointer;
    outline : none;
    color : black;
    font-family : 'Bebas Neue', serif;
    font-size : 2rem;
    background-color : white;
}

.MenuItem:hover{
    border-bottom : 3px solid black;
}